html {
    scroll-behavior: smooth;
}

body {
    background: ivory;
    font-family: 'Playfair Display', serif;
}

nav {
      position: fixed;
      top: 0;
      width: 100%; 
      text-align: center;
      list-style-type: none;
      font-family: 'Merriweather', serif;
      font-weight: 700;
      background-color: black;
}

nav ul {
    padding-inline: 0;
}
nav li {
    display: inline-block;
    font-size: 20px;
    padding-inline: 50px; 
    padding-block: 20px;
}

nav li:hover {
    background-color: darkred;
    transition: 0.75s linear;
}

nav a {
    color:whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

#headerphoto {
    height: 600px;
    background-image: url(images/Copenhagen.jpg);
    background-size:  100% 100%;
    margin-block-end: 3rem;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-transform: uppercase;
}

section#aboutme {
    display: grid;
    grid-template: 1fr 3fr / 3fr 1fr;
    grid-template-areas:    "aboutmeh face"
                            "aboutmep face";
    background-color: darkred;
    margin-bottom: 30px;
    border-inline: solid 10px black;
    border-block: solid 10px black;
    text-align: center;   
    margin-inline-start: 6em;
    margin-inline-end: 6em;
    border-radius: 10px;
}

#aboutme img {
      max-height: 400px;
      max-width: 300px;
      grid-area: face;
      justify-self: end;
}

#aboutme h2 {
     grid-area: aboutmeh;
     align-self: end;
}

#aboutme p {
     grid-area: aboutmep;
}
section#projects {
    display: grid;
    grid-template: 1fr 3fr / 1fr 3fr;
    grid-template-areas:     "portfolioimg portfolioh"
                             "portfolioimg portfoliop";
    background-color: darkred;
    border-inline: solid 10px black;
    border-block: solid 10px black;
    margin-inline-start: 6em;
    margin-inline-end: 6em;
    border-radius: 10px;
}

#projects img {
    max-height: 400px;
    max-width: 300px;
    grid-area: portfolioimg;
}

#projects h2 {
    grid-area: portfolioh;
}

#projects p {
    grid-area: portfoliop;
}

#links {
    text-align: center;
    padding-block-start: 2rem;
}

#links a {
    padding-inline: 2rem;
    color: black;
}

#links #fa-github:hover {
    color: deepskyblue;
    transition: 0.25s;
}

#links #fa-linkedin:hover {
    color:greenyellow ;
    transition: 0.25s;
}

#links #fa-email:hover {
    color: fuchsia;
    transition: 0.25s;
}
 